<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.1/build/pure-min.css">
    <style>
        html, body {
            background-color: #456173;
            padding: 5px;
            color: white;
            font-family: arial;

        }
        p {
            color: white;
            font-family: arial;
        }

        a {
            text-decoration: none;
            color: #8C9CA6;
            font-family: arial;
            size:16px;
            line-height: 20px;
        }
    </style>
</head>
<body>
<h1>Youtuber</h1>

<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <td>Drive</td>
            <td>Free (GB)</td>
            <td>Total (GB)</td>
        </tr>
    </thead>

    <tr>
        <td>Temporary</td>
        <td>{{disk_space.tmp.freeGB}}</td>
        <td>{{disk_space.tmp.sizeGB}}</td>
    </tr>
    <tr>
        <td>Storage</td>
        <td>{{disk_space.storage.freeGB}}</td>
        <td>{{disk_space.storage.sizeGB}}</td>
    </tr>
</table>


{{#if firstload}}
<div>
    Booting...
</div>
{{/if}}
{{#unless firstload}}
<h2>
    Downloading:
    {{#if is_paused}}
    - paused
    {{/if}}
</h2>
<div>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <td>id</td>
                <td>step</td>
                <td>audio dl</td>
                <td>video dl</td>
                <td>progress</td>
                <td>name</td>
            </tr>
        </thead>
        {{#each downloading}}
        <tr>
            <td>{{obj.id}}</td>
            <td>{{step}}</td>
            <td>{{audio}}</td>
            <td>{{video}}</td>
            <td>{{merge_percent}}</td>
            <td><a href='{{obj.url}}' target="_blank">{{obj.name}}</a></td>
        </tr>
        {{/each}}
    </table>
</div>
{{#if queue_count}}
    <h2>Queue ({{queue_count}})</h2>
    <div>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                </tr>
            </thead>
            {{#each queue}}
            <tr>
                <td>{{id}}</td>
                <td><a href='{{url}}' target="_blank">{{name}}</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
{{/if}}
{{/unless}}

</body>
</html>